.container {
  @apply flex
    flex-row
    mx-auto
    items-center
    justify-center
    p-4
    min-h-screen;
}

.wrapper {
  @apply flex
    flex-col
    flex-1
    max-w-xl
    w-full
    items-center;
}

.subtitle {
  @apply font-light;
}

.title {
  @apply text-7xl
    font-bold
    text-center
    tracking-tighter
    mb-8;
}

.form {
  @apply flex
    flex-col
    w-full;
}

.decimal {
  @apply rounded-full
    text-white
    bg-black
    flex
    items-center
    justify-center
    w-6
    h-6
    mr-2;
}

.step {
  @apply list-decimal
    list-inside
    font-light
    text-lg
    antialiased;
}

.textarea {
  @apply flex-1
    font-mono
    text-sm
    rounded-md
    border
    border-gray-300
    shadow-sm
    focus:outline-none
    focus:border-gray-800
    focus:ring-black
    p-2
    my-4;
}

.button {
  @apply flex
    w-full
    h-10
    justify-center
    items-center
    bg-black
    rounded-xl
    text-white
    font-medium
    px-4
    py-2
    hover:bg-black/80
    disabled:bg-black/50;
}

.message {
  @apply flex
    flex-col
    p-4
    pl-6
    shadow-md
    rounded-2xl
    border
    border-gray-100
    hover:bg-gray-50
    cursor-copy;
}

.message h3 {
  @apply my-2
    font-semibold
    whitespace-pre-wrap;
}

.message ul {
  @apply font-light
    list-disc
    list-inside;
}

.gitmoji {
  @apply underline;
}
